* {
padding: 0;
margin: 0; 
font-family: "Open Sans", sans-serif;
}

/* Common style */
.common-btn {
    background-color: #075cee;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 18px 18px;
    
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}


ul li a {
    text-decoration: none;
    color: #64748b;
    font-size: 15px;
    font-weight: 500;
}
/* hero section */
header{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./image/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.header-content{
  color: white;
  text-align: center;
  display: grid;
  gap: 20px;
}
.header-content h1 em {
    color: #075cee;
}
.header-content p {
    text-decoration: none;
    color: #b2b9c4;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 200px;
    max-width: 550px;   
}

.header-content a .common-btn {
    
    background-color: #075cee;
    padding: 15px 30px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    border: none;
}
/* speaker section start */
.speaker-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.speakers-section {
    padding: 40px 0;
}

.speakers-section h1 {
    font-size: 40px;
    font-weight: 40px;
    text-align: center;
    margin-bottom: 80px;
  
}

.speaker-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 32px; 
}


.speaker-card {
    border: 1px solid wheat; 
    border-radius: 12px;       
    overflow: hidden;          
    background-color: white;
    display: flex;
    flex-direction: column;
}

.speaker-imgage {
    width: 100%;
    height: 280px;            
    object-fit: cover;
    display: block;
}

.speaker-info {
    padding: 24px;
}


.speaker-tag {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: blue;         
    margin-bottom: 1px;
}

.speaker-info h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
}

.speaker-info p {
    font-size: 15px;
    color: gray;
}